.footer {
  margin: 65px auto 0;
  color: #bfbfbf;
  text-shadow: 0 1px 0 hsla(0,0%,100%,.5);
  text-align: center;
  font-weight: 100;
  font-size: 14px;

  a {
    color: inherit;
    text-decoration: none;
    font-weight: 400;
  }
}